@import './reset.scss';

header.header {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: ghostwhite;
    box-shadow: 10px -5px 7px 5px silver;
    position: sticky;
    top: 0;
    z-index: 22;
}

section:not(.login-page) {
    padding: 100px 0px;
}

.product-card-wrapper {
    justify-content: space-between;
}

.loader-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}