* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}



a, a:link, a:visited  {
    text-decoration: none;
	color: #228BE6;
}

a:hover  {
    text-decoration: none;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}